.header {

    background-image:url("foto/beijingheader.jpg");
    background-size:cover;
    padding: top 50px;
    padding-bottom:150px;
    background-position: 50% 20%;

}

.title {
    font-size: 4em;
    text-align: center;
    color:rgb(218, 170, 81);
    text-shadow: 
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px rgb(218, 170, 81),
    0 0 82px rgb(218, 170, 81),
    0 0 92px rgb(218, 170, 81),
    0 0 102px rgb(218, 170, 81),
    0 0 151px rgb(218, 170, 81);
}

.main-content{
    margin-left:5em;
    margin-right: 5em;
    padding-left:3em;
    padding-right: 3em;
    padding-top: 1em;
    background-color: beige;
}

.content-image{
    height:300px;
    width:500px;    
}

.box{
    width:6em;
    height:1.5em;
    background-color: #fff;
    border: 2px solid rgb(218, 170, 81);
}

.footer{
    background-image:url(foto/footer.jpg);
    background-size: cover;
    padding-top: 120px;
    background-blend-mode:soft-light;
}

.footer-text{
    color:rgb(218, 170, 81);
    font-weight: bold;
    font-size: medium;
    text-align: left;
}